body {
  font-family: "Helvetica Neue", Roboto, "Segoe UI", Calibri, sans-serif;
}
.tweet-container {
  display: -webkit-flex;
  display: flex;
  align-items: center;
  -webkit-flex-direction: column;
  flex-direction: column;
  height: auto;
  margine: auto;
}
span.handle-name {
  font-size: 16px;
  font-weight: bold;
}
div.TweetAuthor a:link,
div.TweetAuthor a:hover,
div.TweetAuthor a:active,
div.TweetAuthor a:visited,
div.TweetAuthor a:focus  {
  font-size: 16px;
  color: #697882;
  text-decoration: none;
}
div.TweetAuthor a:hover,
div.TweetAuthor a:focus {
  text-decoration: none !important;
}
blockquote.twitter-tweet {
  display: inline-block;
  font-size: 12px;
  font-weight: bold;
  line-height: 16px;
  border-color: #eee #ddd #bbb;
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
  margin: 10px 5px;
  padding: 0 16px 16px 16px;
  width: 468px;
}

blockquote.twitter-tweet p {
  font-size: 16px;
  font-weight: normal;
  line-height: 20px;
}

blockquote.twitter-tweet a {
  font-weight: normal;
  text-decoration: none;
  outline: 0 none;
}

blockquote.twitter-tweet a:hover,
blockquote.twitter-tweet a:focus {
  text-decoration: underline;
}

blockquote.twitter-tweet img {
  width: 100%;
}

.Tweet-header {
  position: relative;
  padding-left: 45px;
  white-space: nowrap;
}

.TweetAuthor {
  margin-top: 2px;
  line-height: 0;
  max-width: 100%;
  overflow: hidden!important;
  text-overflow: ellipsis!important;
  white-space: nowrap!important;
  word-wrap: normal!important;
}

.TweetAuthor-avatar {
  position: absolute;
  display: inline-block;
  bottom: 7px;
  left: 0;
  width: 36px;
  height: 36px;
  overflow: hidden;
  background-color: transparent;
  border-radius: 4px;
}
.Avatar {
    max-width: 100%;
    max-height: 100%;
}
img.Avatar {
  line-height: 1.2;
}

.pagination {
  font-weight: bold;
}
.pagination a {
  text-decoration: underline;
}
